/* TODO: do proper design token setup using style dictionary */

:root {
  /* === COLOR === */
  /* palette */
  --color-palette-cornflower-blue: #002b55;
  --color-palette-mantis: #80c565;
  --color-palette-shark: #26282a;
  --color-palette-white: #fff;
  --color-palette-ghost: #c9cbd1;

  /* === TYPOGRAPHY === */
  --font-family: 'Montserrat', sans-serif;
  --font-size-xs: 0.75rem;
  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 2rem;
  --font-size-xl: 3.25rem;

  /* === SPACE === */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1.25rem;
  --space-l: 2rem;
  --space-xl: 3.25rem;
  --space-xxl: 5.25rem;
  --space-xxxl: 8.5rem;
  --space-xxxxl: 13.75rem;
}
